.form-control {
	font-size: 16px;
}

.form-group label {
	font-size: 16px;
}

.submit-btn {
	font-size: 16px;
}

.auth.theme-one .auto-form-wrapper .form-group .submit-btn {
	font-size: 16px;
}

.auth.theme-one .auto-form-wrapper {
	padding-top: 10px;
}
