html,
body {
    background-color: #fafafa;
}

.white {
    background-color: white;
}

.gray {
    background-color: #fcfcfc;
}

.app-hover-change-bg {
    background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
    background-position: 0 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
    color: #333;
    border: 1px solid #e5e5e5;
}

.app-hover-change-bg:hover {
    background-position: 100% 0;
    background-color: #2E8297;
    color: #fff;
}

.app-item-banner {
    background-color: #2E8297;
    width: 85px;
    padding: 0;
}

.app-item-banner-img {
    width: 80px;
    height: 80px;
    padding: 0;
    float: right;
    background-size: cover;
}

.app-color-white {
    color: white !important;
}

.app-height-parent {
    height: 100%;
}

.app-color-text-white {
    color: white;
}

.app-color-text-black {
    color: black !important;
}

.app-color-text-primary {
    color: #2E8297 !important;
}

.app-color-text-dark {
    color: #336681 !important;
}

.app-color-primary {
    background-color: #2E8297;
}

.app-color-dark {
    background-color: #336681;
}

.app-color-light {
    background-color: #2E8297;
}

.app-link-reset {
    text-decoration: none !important;
    color: #333 !important;
}

.uk-logo img {
    height: 50px;
}

.app-navbar {
    background-color: #2E8297;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #2E8297;
}

[class*='uk-navbar-dropdown-bottom'] {
    margin-top: 0;
}

.uk-navbar-container {
    min-height: 60px;
}

.uk-navbar-dropdown {
    /* box-shadow: none; */
    background-color: #2E8297;
    padding: 0;
}

.uk-navbar-dropdown>ul>li>a {
    padding: 10px 15px;
}

.uk-navbar-dropdown>ul>li>a:hover {
    color: white;
    background-color: #336681;
}

.uk-navbar-dropdown-nav>li>a {
    color: white;
    font-size: 1rem;
}

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 1px solid #336681;
}

.uk-nav-divider {
    margin: 0;
}

.uk-navbar-nav>li>a {
    color: white;
    font-size: 1rem;
    min-height: 60px;
}

.uk-navbar-nav>li:hover>a {
    background-color: #336681;
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>a.uk-open {
    color: white;
}

.uk-navbar-toggle {
    min-height: 40px;
}

.uk-navbar-toggle,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:hover {
    color: white;
}

.uk-nav-primary {
    margin-top: 40px;
}

.uk-nav-primary>li>a {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 0;
}

.uk-offcanvas-bar .uk-nav-primary>li>a,
.uk-offcanvas-bar .uk-nav-primary>li>a:focus,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a,
.uk-offcanvas-bar .uk-nav-primary .uk-nav-sub a:focus {
    color: white;
}

.uk-nav-sub a {
    padding: 10px 0;
}

.uk-offcanvas-bar {
    background: #2E8297;
}

.uk-offcanvas-bar .uk-close {
    color: white;
}

.uk-light .uk-dotnav>*>* {
    border-color: #2E8297;
}

.uk-light .uk-dotnav>.uk-active>* {
    background: #2E8297;
}

.uk-light .uk-slidenav {
    color: white;
}

.color-primary {
    color: #2E8297 !important;
}

.color-second {
    color: #336681 !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

/* Adding hover effect to pseudo element */
.video-container:hover:after {
    content: none;
}

.app-font-normal {
    font-size: 1.25rem;
}

.app-font-title {
    font-size: 22px;
}

.app-font-heading {
    font-size: 2.25rem;
    line-height: 1.2;
}

.app-border-right {
    border-right: 1px solid #fff;
}

.uk-button-text::before {
    border-bottom: 3px solid #336681;
}


.app-truncate p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.app-card-left {
    flex-grow: 1;
}

.app-card-right {
    min-height: 6em;
}

.image-header {
    padding-top: calc(100vh - 60px);
    width: 100%;
    position: relative;
}

.app-title-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.app-banner-item-content {
    padding: 10px 15px;
}

.app-banner-item-title {
    padding-bottom: 3px;
    border-bottom: 1px solid #e5e5e5;
}

.app-truncate-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.app-banner-item-desciption {
    padding-top: 5px;
}

.app-panel-right {
    padding-right: 30px;
}

.uk-card-default {
    box-shadow: none;
    border: 1px solid #e5e5e5;
}

.app-banner-item-icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.app-icon-margin-right {
    margin-right: 5px;
}

.app-banner-item-padding {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.app-border-top {
    border-top: 1px solid #e5e5e5;
}

.app-border-left {
    border-left: 1px solid #e5e5e5;
}

.app-border-right {
    border-right: 1px solid #e5e5e5;
}

.app-border {
    border: 1px solid #e5e5e5;
}

.app-header-content {
    padding: 30px;
}

.app-padding {
    padding: 15px;
}

.app-ratio-16-9 {
    padding-top: 56.25%;
}

.app-height-expand {
    height: 100%;
}

.app-para {
    line-height: 2.0rem;
}

.app-news-header {
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.app-footer-item {
    display: block;
    border: 1px solid #336681;
    padding: 5px 15px;
}

.app-footer-item:hover {
    background-color: #336681;
    color: white !important;
}

.app-button-register {
    height: 38px;
    border-radius: 19px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    color: #666 !important;
    transition: 0.3s;
}

.app-button-register:hover {
    color: white !important;
    background-color: #336681;
}

.app-button {
    height: 38px;
    border-radius: 19px;
    background-color: #2E8297;
    padding-left: 15px;
    padding-right: 15px;
    color: white !important;
}

.app-button:hover {
    background-color: #336681;
    color: white;
}

.app-padding-res {
    padding: 0 25px;
}

.app-form {
    border: 1px solid #2E8297;
}

.app-link {
    color: white;
}

.app-link:hover {
    color: white !important;
}

.app-padding-medium {
    padding: 25px;
}

.app-logo-bottom {
    max-width: 250px !important;
}

.uk-input:focus,
.uk-textarea:focus {
    border-color: #2E8297;
}

.uk-checkbox:focus {
    border-color: #cccccc;
}

.uk-checkbox:checked,
.uk-checkbox:indeterminate {
    background-color: #2E8297;
}

.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus {
    border: none;
    background-color: #2E8297;
}

.img-ratio-16-9 {
    padding-top: 56.25%;
    position: relative;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-data {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
}

.item-slide {
    padding: 10px;
}

.item-slide-container {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    border: 1px solid #2E8297;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.item-slide-header {
    padding: 0;
    margin: 0;
}

.item-slide-title {
    font-weight: 600;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-slide-body {
    text-align: center;
    margin: 0 !important;
    padding: 0;
}

.text-animation {
    animation-name: pulsing-fade;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

@keyframes pulsing-fade {
    50% {
        opacity: 0;
    }
}

.app-call-btn {
    position: fixed;
    display: flex;
    left: auto;
    top: auto;
    right: 5px;
    bottom: 15px;
    background: #fff;
    width: 207px;
    height: 42px;
    border-radius: 21px;
    z-index: 1000;
    border: 1px solid #EF9A9A;
}

.call-layout {
    width: 42px;
    height: 42px;
}

.app-call-btn .call-circle {
    position: relative;
    top: 2px;
    left: 2px;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    background-color: #336681;
    animation-name: tada;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.call-icon {
    margin-top: 6px;
    margin-left: 5px;
    width: 26px;
    height: 26px;
}

.call-number {
    width: 100%;
    font-size: 1.3rem;
    color: red;
}



@keyframes tada {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(20deg);
    }
}

.app-call-btn .app-pulse {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-color: red;
    opacity: 0.5;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.fb-page {
    float: right;
    min-width: 340px;
}

.uk-card-default {
    display: flex;
    flex-direction: column;
}

.uk-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a.uk-slidenav>svg {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 20px;
}

@keyframes pulse {
    from {
        width: 50px;
        height: 50px;
        margin-top: -4px;
        margin-left: -4px;
    }

    to {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-top: -15px;
        margin-left: -15px;
    }
}

@media (max-width: 1109px) {
    .app-visible-nav {
        display: none !important;
    }

    .fb-page {
        float: right;
    }
}

@media (min-width: 1110px) {
    .app-hidden-nav {
        display: none !important;
    }

    .fb-page {
        float: right;
    }
}


@media only screen and (max-width: 600px) {
    .app-font-title {
        font-size: 12px;
    }

    .uk-navbar-container {
        min-height: 40px;
    }

    .image-header {
        padding-top: 56.25%;
    }

    .uk-logo img {
        height: 30px;
    }

    .app-panel-right {
        padding-right: 15px;
    }

    .app-padding {
        padding: 0;
    }

    .app-padding-res {
        padding: 0;
    }

    .fb-page {
        min-width: 100%;
    }
}

.app-text-size-medium {
    font-size: 1.75rem;
}

@media (max-width: 960px) {

    .app-text-size-medium {
        font-size: 1.45rem;
    }

    .app-font-heading {
        font-size: 1.75rem;
    }

    .app-font-normal {
        font-size: 1rem;
    }

    .app-navbar-right {
        max-width: 500px;
    }

    .app-panel-right {
        padding-right: 15px;
    }

    .app-padding {
        padding: 0;
    }

    .app-padding-res {
        padding: 0;
    }

    .fb-page {
        float: left;
        margin-top: 20px;
    }

    .image-header {
        padding-top: 56.25%;
    }

    .text-flip.title {
        font-size: 20px !important;
    }

    .wrapper {
        font-size: 16px !important;
    }

    .app-intro-text {
        margin: 30px 30px 0 0 !important;
    }
}

.wrapper {
    position: relative;
    display: block;
    color: #2E8297;
    font-size: 25px;
    text-align: end;
    font-weight: 500;
}

.intro-2,
.intro-3 {
    padding-top: 10px;
    animation: text-intro 4s infinite;
}

.intro-1 {
    animation: text-intro-revert 4s infinite;
}

.text-flip {
    margin: 0px;
}

.text-flip.title {
    font-size: 30px;
}

@media screen and (max-width: 768px) {

    .text-flip.title {
        font-size: 16px !important;
    }

    .wrapper {
        font-size: 12px !important;
    }

    .app-intro-text {
        margin: 20px 20px 0 0 !important;
    }
}

.app-margin-top-small {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.app-intro-text {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    margin: 50px 50px 0 0;
    /* opacity: 0.6;
    background-color: white; */
}

@keyframes text-intro {
    0% {
        margin-top: 200px;
        opacity: 0;
    }

    20% {
        margin-top: 0px;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text-intro-revert {
    0% {
        margin-top: -200px;
        opacity: 0;
    }

    20% {
        margin-top: 0px;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
